<div id="update-page">
  <section class="left">
    <%= form_tag orm_path(@chat), method: :put do %>
      <h2 class="title">
        ORM Code
      </h2>
      <div class="input-div">
        <%= text_area_tag 'code' , @chat.code, rows: 10, placeholder: 'Please input your ORM code', class: 'code-input' ,
          required: true %>
      </div>
      <div class="function">
        <%= submit_tag 'Update' , value: 'Update' , class: 'btn btn-xs btn-primary' %>
        <%= submit_tag 'Delete' , value: 'Delete' , class: 'btn btn-xs btn-primary' %>
      </div>
      <% end %>
  </section>

  <section class="right">
    <h2 class="title">
      Feedback
    </h2>
    <div class="feedback-div">
      <%= @chat.feedback %>
    </div>
  </section>
</div>
