<div id="summary-div">
  <h2 id="summary">
    <%= simple_format @chat.summary %>
  </h3>
</div>

<%= form_tag orm_path(@chat), method: :put do %>
<div id="update-page">
  <section class="left">
      <h2 class="title">
        ORM Code
      </h2>
      <div class="input-div">
        <%= text_area_tag 'code' , @chat.code, rows: 10, placeholder: 'Please input your ORM code', class: 'code-input' ,
          required: true %>
      </div>
      <h2 class="title">
        Programming Language
      </h2>
      <div class="input-div">
        <%= text_field_tag 'language', @chat.language, placeholder: 'Please input your ORM Language', class: 'language-input' ,
          required: true %>
      </div>
      <% end %>
  </section>

  <section class="right">
    <h2 class="title">
      Feedback
    </h2>
    <div class="feedback-div">
      <%= @chat.feedback %>
    </div>
    <div class="function">
      <%= submit_tag 'Update' , value: 'Update' , class: 'btn btn-xs btn-primary' %>
      <%= link_to 'Delete', orm_path(@chat), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %>
      <%= link_to 'Cancel', orms_path, :class => 'btn btn-secondary' %>
    </div>
  </section>
</div>
