<div id="summary-div">
  <h2 id="summary">
    <%= simple_format @chat.title %>
  </h3>
</div>

<%= form_tag user_orm_path(@current_user, @chat), method: :put do %>
<div id="update-page">
  <section class="left">
      <h2 class="title">
        ORM Code
      </h2>
      <div class="input-div card">
        <%= select_tag 'language', options_for_select(['C++', 'Ruby', 'Python', 'JavaScript', 'Java', 'C#', 'PHP'], @chat.language), 
        prompt: 'Please select your ORM Language', class: 'language-input', id: 'language-selection', required: true %>
      </div>
      <div class="input-div">
        <%= text_area_tag 'code' , @chat.code, rows: 10, placeholder: 'Please input your ORM code', class: 'code-input' ,
          required: true %>
      </div>
  </section>

  <section class="right">
    <h2 class="title">
      Feedback
    </h2>
    <div class="feedback-div">
      <%= @chat.feedback %>
    </div>
    <div class="function">
      <%= submit_tag 'Update' , value: 'Update' , class: 'btn btn-xs btn-primary' %>
      <%= link_to 'Delete', user_orm_path(@current_user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %>
      <%= link_to 'Cancel', orms_path, :class => 'btn btn-secondary' %>
    </div>
  </section>
</div>
<% end %>
