<div class="d-flex align-items-center justify-content-center">
    <h1>Welcome to ORM Autopilot.</h1>
</div>

<div id="summary-div">
  <h2 id="summary">
    <%= simple_format nil %>
  </h3>
</div>

<%= form_tag orms_path do %>
<div id="update-page" style="margin-bottom: 100px;">
  <section class="left">
    <h2 class="title">
      ORM Code
    </h2>
    <div class="input-div card">
      <%= select_tag 'language', options_for_select(['C++', 'Ruby', 'Python', 'JavaScript', 'Java', 'C#', 'PHP']), 
      prompt: 'Please select your ORM Language', class: 'language-input', id: 'language-selection', required: true %>
    </div>
    <div class="input-div card">
      <%= text_area_tag 'code', nil, rows: 100, placeholder: 'Please select your programming language first.', class: 'code-input' ,
        required: true%>
    </div>
  </section>

  <section class="right ">
    <h2 class="title">
      Feedback
    </h2>
    <div class="feedback-div card">
    </div>
    <div class="function">
      <%= submit_tag 'Submit' , class: 'btn btn-xs btn-primary' %>
    </div>
  </section>
</div>
<% end %>

<%= javascript_include_tag 'code-support' %>
