<header>
  <%= link_to 'Home', new_orm_path  %>
  <%= link_to 'history', history_orms_path  %>
</header>

<div id="summary-div">
  <h2 id="summary">
    <%= simple_format nil %>
  </h3>
</div>

<%= form_tag orms_path do %>
<div id="update-page">
  <section class="left">
    <h2 class="title">
      ORM Code
    </h2>
    <div class="input-div">
      <%= text_area_tag 'code', nil, rows: 10, placeholder: 'Please input your ORM code', class: 'code-input' ,
        required: true %>
    </div>
    <h2 class="title">
      Programming Language
    </h2>
    <div class="input-div">
      <%= text_field_tag 'language', nil, placeholder: 'Please input your ORM Language', class: 'language-input' ,
        required: true %>
    </div>
  </section>

  <section class="right">
    <h2 class="title">
      Feedback
    </h2>
    <div class="feedback-div">
    </div>
    <div class="function">
      <%= submit_tag 'Submit' , class: 'btn btn-xs btn-primary' %>
    </div>
  </section>
</div>
<% end %>