<div id="summary-div">
  <h2 id="summary">
    <%= simple_format @chat.title %>
  </h3>
</div>

<%= render 'flash' %>

<div id="update-page">
  <section class="left">
    <!-- Create a code block with title "ORM Code" and the content from @chat.code -->
    <h2 class="title">
      ORM Code
    </h2>
    <div class="input-div code-input card">
    <pre style="white-space: pre-wrap;"><code class="<%= @chat.language.downcase %>" style="background-color: white"><%= @chat.code %></code></pre>
    </div>
    <h2 class="title show-language">
      Programming Language
    </h2>
    <div class="card input-div" style="padding-left: 10px">
      <%= @chat.language %>
    </div>
  </section>

  <section class="right">
    <h2 class="title">
      Feedback
    </h2>
    <div class="feedback-div card">
      <%= raw @markdown.render(@chat.feedback) %>
    </div>
    <!-- Create a button with text "Edit" -->
    <%= button_to 'Edit', edit_user_orm_path(@current_user, @chat), method: :get, class: 'btn btn-xs btn-primary' %>
  </section>
</div>

<!-- load code highlighting library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
<script>
    var codeBlock = document.querySelector('pre code');
    hljs.highlightBlock(codeBlock);
</script>
